#include <iostream>
using namespace std;

int main()
{
    system("cls");
    int value;

    std::cout << "[1]=purpose, [2]=idk ,[3]=faxx\n";
    std::cout << " write here any value\n";
    std::cin >> value;

    switch (value)
    {
    case 1:
        std::cout << "selected: purpose\n";
        break;
    case 2:
        std::cout << "selected: idk\n";
        break;
    case 3:
        std::cout << "selected: fafxx\n";
        break;
    default:
        std::cout << "incorrect";
    }

    return 0;
}
